body,tr,td {
    background-color: black;
    color: #00B000;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight {
    color: white;
    font-weight: bold;
}

a:link { color: #00ff00; }
a:visited {color: #008000;}
a:hover {color: black; background-color: #008000;}